/*
	The commented out sections is used to help map out the cards.
*/

.welcome {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: rgb(153, 112, 0);
    font-size: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, .5fr));
    grid-gap: 1rem;
    margin: auto;
    width: 50%;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 0.125rem solid black;
}

.card a {
    color: rgb(153, 112, 0);
}

#cemetery-section-background-image {
    background:url(/images/marble.jpg);
    background-size: auto auto;
    background-repeat: no-repeat;
}