
.welcome {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: rgb(153, 112, 0);
    font-size: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, .5fr));
    grid-gap: 1rem;
    margin: auto;
    width: 50%;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 0.125rem solid black;
    background-color: snow;
    font-family: "Calibri";
}

.card a {
    color: rgb(153, 112, 0);
}

#tag-background-image {
    background: url(/images/marble.jpg);
    background-size: auto auto;
    background-repeat: no-repeat;
}