/*
	The commented out sections is used to help map out the cards.
*/

.welcome {
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: rgb(153, 112, 0);
    font-size: 30px;
}

.intro {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: .5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    margin-top: 2rem;
    margin: auto;
    width: 50%;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 5rem;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 0.125rem solid black;
    background-color: snow;
}

.card a {
    color: rgb(153, 112, 0);
}

.section-three {
    display: flex;
    justify-content: center;
}

.section-three img {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 69rem;
}