
.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: .5rem;
    color: rgb(153, 112, 0);
    font-family: "Times New Roman";
    font-size: 30px;

}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: .5rem;
    padding-top: 1.5rem;
    padding-left: .5rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    border: 0.125rem solid black;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.card a {
    color: rgb(153, 112, 0);
    font-family: "Times New Roman";
}

.regular-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tombstone-image {
    display: block;
    margin: auto;
    width: 80%;
}

.center-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
}

.transparent-p {
    background-color: rgba(255, 255, 255, .5);
    padding: .3rem;
}

p {
    font-family: "Calibri";
    font-size: 20px;
}

.obituary {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    border: 0.125rem solid black;
    background-color: snow;
    font-family: "Calibri";
}

.obituary-article {
    background-color: rgba(255, 255, 255, .5);
    border-radius: .5rem;
    padding: .3rem;
}

.obituary h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Times New Roman";
    font-size: 30px;
    color: rgb(153, 112, 0);
}

#gravesite-background-image, #gravesite-obituary-background-image {
    background: url(/images/marble.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}