/*
	The commented out sections is used to help map out the cards.
*/

.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: .5rem;
    color: rgb(153, 112, 0);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: .5rem;
    padding-top: 1.5rem;
    padding-left: .5rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    border: 0.125rem solid black;
    /*background-color: snow;*/
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    /*border: 0.125rem solid black;*/
    /*background-color: lightblue;*/
}

.card a {
    color: rgb(153, 112, 0);
}

.regular-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.tombstone-image {
    display: block;
    margin: auto;
    width: 75%;
}

.obituary {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    border: 0.125rem solid black;
    background-color: snow;
}

.obituary h3 {
    color: rgb(153, 112, 0);
}

#gravesite-background-image, #gravesite-obituary-background-image {
    background: url(/images/marble.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}