/*
	The commented out sections is used to help map out the cards.
*/

.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    color: rgb(153, 112, 0);
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: .5rem;
    border-radius: 1rem;
    padding: .5rem;
    border: 0.125rem solid black;
    background-color: lightgreen;
}

.search-card {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: auto;
    padding: .25rem;
    border-radius: 1rem;
    /*border: 0.125rem solid black;*/
    /*background-color: lightgray;*/
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, .5fr));
    grid-gap: 1rem;
    margin: auto;
    width: 75%;
    margin-bottom: 1rem;
    /*border-radius: 1rem;*/
    /*border: 0.125rem solid black;*/
    /*background-color: lightgreen;*/
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 0.125rem solid black;
    /*background-color: snow;*/
}

.card a {
    color: rgb(153, 112, 0);
}

#cemetery-section-background-image {
    background:url(/images/marble.jpg);
    background-size: auto auto;
    background-repeat: no-repeat;
}