<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cemetery Sections</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body class="container">

    <header>
        <img width="500px" height="175px" class="header-img" src="./images/main/arch.jpg">
        <h2 class="font-patua">Cemetery Interactive Grave Search</h2>
        <nav>
            <ul class="font-lato">
                <li><a href="">graveSites</a>Gravesites</li>
                <li><a href="cemeteryTags">Tags</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="welcome font-patua">Welcome to the  Cemetery advanced search.</h2>
        <p class="intro font-lato">With this Application, you can click on a Cemetery Section located within the Cemetery</p>
        <p class="intro font-lato"> <strong>OR</strong> </p>
        <p class="intro font-lato">Check out the entire database of all those who are laid to rest: &nbsp;<a href="http://localhost:8080/graveSites">HERE</a></p>

        <section class="cards">
            <article class="card font-lato hover-grow" th:each="cemeterySection: ${cemeterySections}">
                <p><a th:href="@{/cemeterySection(id=${cemeterySection.id})}" th:text="${cemeterySection.cemeterySection}"></a></p>
            </article>
        </section>

        <section class="section-three">
            <img  src="./images/main/green-lawn-map.png" alt="Green Lawn Cemetery">
        </section>

    </main>

    <footer>
        <small class="font-lato">&copy 2021</small>
    </footer>




</body>
</html>