<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cemetery Section</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/cemeterySection.css" />
</head>

<body class="container">
    <header>
        <img width="500px" height="175px" class="header-img" src="./images/main/arch.jpg">
        <h1 class="font-patua">Cemetery Interactive Grave Search</h1>
        <nav>
            <ul class="header-nav font-lato">
                <li><a href="http://localhost:8080/cemeterySections">Home</a></li>
                <li><a href="http://localhost:8080/cemeteryTags">Tags</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="welcome font-patua">Welcome to Cemetery Section #[(${cemeterySection.cemeterySection})] </h2>

        <section class="cards">
            <article class="card font-lato hover-grow" id="cemetery-section-background-image" th:each="cemeterySection: ${cemeterySection.graveSites}">
                <img class="modal-image" th:src="${cemeterySection.tombstoneImage}" th:alt="${cemeterySection.name}" width="250px" height="125px">
                <h3><a th:href="@{/graveSite(id=${cemeterySection.id})}" th:text="${cemeterySection.name}"></a></h3>
                <p>[(${cemeterySection.dateOfBirth})] - [(${cemeterySection.dateOfDeath})]</p>
                <p th:text="${cemeterySection.status}"></p>
            </article>

            <div id="myModal" class="modal">
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </section>

    </main>

    <footer>
        <small class="font-lato">&copy 2021</small>
    </footer>

</body>
</html>